<!DOCTYPE html>
<html lang="en" data-bs-theme="light" style="background-color: #f8f9fa;">
  <head>
    <meta charset="UTF-8">
    <title> Products </title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- mobile first-->
    <link rel="stylesheet" href="products.css">
  </head>
  
<%- include('./partials/navbar.ejs') %>
  <body>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="ml11">
        <span class="text-wrapper">
          <span class="line line1"></span>
          <span class="letters">SNSO Product Suite</span>
        </span>
      </h1>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
      <script src="products.js" charset="UTF-8"></script>

      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"></p>
        <div class="album py-5 bg-light">
          <div class="container">
            <style>
              .my_headers {
                text-align: left;
                font-weight: bolder; 
                font-size: large;
                margin-bottom: 2px;
              }
              .my_description {
                text-align: left;
              }
            </style>
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" alt="Substack Scraper" style="height: 225px; width: 100%; display: block;" src="/img/substack.jpg" data-holder-rendered="true">
                  <div class="card-body">
                    <p class="card-text my_headers">
                      Substack Summariser</p>
                    <p class="card-text my_description">
                      From Substack deluge to digestible summaries</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="./substacks" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Help</button>
                      </div>
                      <small class="text-muted"></small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="/img/brain.jpg" data-holder-rendered="true" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;">
                  <div class="card-body">
                    <p class="card-text my_headers">
                      BrainTogether</p>
                    <p class="card-text my_description">The first stop for late-diagnosed neurodivergents </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Help</button>
                      </div>
                      <small class="text-muted"></small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/img/icebreaker.png" data-holder-rendered="true">
                  <div class="card-body">
                    <p class="card-text my_headers">
                      Icebreaker Generator</p>
                    <p class="card-text my_description">Sparking Connections: Unleash the Excitement, Break the Ice!</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="https://icebreakerdowhat.com/" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Help</button>
                      </div>
                      <small class="text-muted"></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button type="button" class="btn btn-primary"> Home </button> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>